<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Contact list</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-inverse">
<div class="container-fluid">
   <p class="navbar-text">Notebook</p>
</div>
</nav>

<div id="app">
<div style="padding-left:170px; padding-right:170px" v-show="chowTable">
    <input type="text" class="form-control input-group-text" v-model="filter" placeholder="Search">
<table class="table table-hover table-bordered">
    <thead class="thead-dark">
    <tr>
        <th>Name</th>
        <th>Phone number</th>
        <th>Email</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="contact in filteredList">
        <td>{{contact.Name}}</td>
        <td>{{contact.Tel}}</td>
        <td>{{contact.Email}}</td>
    <td>
        <button class="btn" @click="showUpdateCon(contact.ContactID,contact.Name,contact.Tel,contact.Email)" title="Update contact"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></button>
        <button class="btn" @click="delContact(contact.ContactID)" title="Delete contact"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></button>   
    </td>
    </tr>
    </tbody>
</table>
<button type="button" class="btn btn-primary" @click="showCreateCon">
    Create
</button>
</div>
<div style="padding-left:170px; padding-right:170px" v-show="chowCreate">
<h3>Create contact</h3>
 <label>Name*</label>
    <input type="text" class="form-control" placeholder="Name" v-model="name">
 <label>Phone number*</label>
    <input type="text" class="form-control" placeholder="Phone number" v-model="tel">
 <label>Email*</label>
    <input type="email" class="form-control" required="required" placeholder="Email" v-model="email">
<button type="button" class="btn btn-primary" @click="crtContact">
    Create
</button>
<button type="button" class="btn btn-primary" @click="Cansel">
    Cansel 
</button>
</div>
<div style="padding-left:170px; padding-right:170px" v-show="chowUpdate">
	<h3>Update contact</h3>
	<label>Name*</label>
    <input type="text" class="form-control" placeholder="Name" v-model="name">
	<label>Phone number*</label>
    <input type="text" class="form-control" placeholder="Phone number"v-model="tel">
	<label>Email*</label>
    <input type="email" class="form-control" required="required" placeholder="Email" v-model="email">
	<button type="button" class="btn btn-primary" @click="updContact">
		Update
	</button>
	<button type="button" class="btn btn-primary" @click="Cansel">
		Cansel 
	</button>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="src/app.js"></script>
</body>
</html>